* {
    margin: 0;
    padding: 0;
}

body {
    background: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



